.resultsList {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    @media screen and (min-width: 40rem) {
        flex-basis: 80%;
    }
    > .movieList {
        display: flex;
        flex-wrap: wrap;
    }
}
