html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-theme="light"] {
    --text-color: #262626;
    --background-color: #fff;
    --border-color: #fcfcfc;
}

[data-theme="dark"] {
    --text-color: #fcfcfc;
    --background-color: #262626;
    --border-color: #333;
}

.App {
    color: var(--text-color);
    background-color: var(--background-color);
}
