.footer {
    background-color: #262626;
    color: white;
    padding: 1.25rem;
    position: static;
    width: 100%;
    text-align: center;
    bottom: 0;

    a {
        color: white;
        text-decoration: none;
    }
}