nav {
    max-width: 100%;
    padding: 1.25rem;

    &>ul {
        max-width: 100%;
        padding-left: 0;

        &>li {
            padding: 1rem 1rem 0 0;
            &>button {
                background-color: var(--bg-color);
                padding: .5rem;
                border-radius: 15pt;
                border: 2px solid var(--border-color);
                box-shadow: 0 2px 8px rgba(0,0,0,0.2);
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                color: var(--text-color);
                &>.user__avatar {
                    @media screen and (min-width: 45rem) {
                        display: inline-block;
                    }
                    display: none;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-size: cover;
                }
                
            }
            & .search {
                width: 1.5rem;
                padding: 0.5rem 1rem;
                border-radius: 5pt;
                transition: width 0.4s ease;
                &:focus, &:focus-within {
                    width: auto;
                    transition: width .4s ease;
                }

                & ~ a {
                    padding-left: .35rem;
                }
            }
            
            >a >.logo {
                width: 4rem;
            }
        }
    }

}