.showsContainer {
    display: flex;
    > .filters {
        flex-basis: 20%;
    }
    > .results {
        display: flex;
        flex-direction: column;
        flex-basis: 80%;
        > .showList {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
