.showlistItem {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: var(--background-color);

    a {
        text-decoration: none;
        color: var(--text-color);
    }

    & .picture {
        display: block;
        width: 16rem;      

        & > img {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
        }
    }

    & .content {
        position: relative;
        padding: 1rem;
    }

    & .title {
        padding: 0;
        margin: 0;
        width: 14rem;
        word-wrap: break-word;

        font-size: 1.1rem;
    }

    & .meta {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;

        border-top: 1px solid var(--border-color);
        padding: 8px 16px;
    }

    & .rating {
        position: absolute;
        top: -4.5rem;
        left: 1rem;
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        padding: .5rem;

        background: rgba(255, 33, 44, .8);
        color: rgba(255, 255, 255, 1);

        text-align: center;
        line-height: 40px;
        font-size: 1.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        > sup {
            padding-left: .1rem;
        }
    }
}