.tvShow {
    display: flex;
    flex-direction: column;

    .showlistItem {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background-color: var(--background-color);

        @media screen and (min-width: 50rem) {
            flex-direction: row;
        }

        & .picture {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 1;
            width: 400px;
            max-width: 100%;
            height: 600px;
            transition: width 0.6s ease;

            @media screen and (min-width: 50rem) {
                flex-basis: 20vw;
                width: 200px;
                height: 300px;
            }

            @media screen and (min-width: 65rem) {
                width: 400px;
                height: 600px;
            }

            &>img {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
            }
        }

        & .content {
            position: relative;
            padding: 16px;
            max-width: 100%;
        }

        & .title {
            padding: 0;
            margin: 0;

            font-size: 1.2rem;
        }

        & a {
            color: rgba(255, 33, 44, .8);
        }

        & .watch {
            display: flex;
            padding: .5rem 0;

            & .providerLogo {
                margin-left: .5rem;
                width: 3rem;
                height: 3rem;
                border-radius: 50pt;
            }
        }

        & .meta {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            align-content: center;
            justify-content: space-between;

            border-top: 1px solid var(--border-color);
            padding: 8px 16px;
        }

        & .rating {
            position: absolute;
            top: -4.5rem;
            left: 1rem;
            display: block;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            padding: .5rem;

            background: rgba(255, 33, 44, .8);
            color: rgba(255, 255, 255, 1);

            text-align: center;
            line-height: 40px;
            font-size: 1.2rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            >sup {
                padding-left: .1rem;
            }
        }

        & .textInfo {
            padding: 0 2.5rem;
        }

        & .videoContainer {
            max-width: 100%;
            width: 480px;
            height: 360px;
        }

        & .tagsList {
            margin-left: 0;
            padding-left: 0;
            display: flex;
            list-style: none;

            >.tag {
                font-size: .8rem;
                background-color: var(--border-color);
                padding: .5rem .5rem;
                border-radius: 5pt;
                margin: 0 .5rem;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

                &::before {
                    content: '#';
                }
            }
        }
    }

    .recommendationsTitle {
        margin-top: 4rem;
        font-weight: 400;
    }

    .recommendedMoviesList {
        display: flex;
        overflow-x: auto;

        & img {
            padding: .2rem;
            flex-basis: 5rem;
            width: 8rem;
            height: 12rem;
        }
    }

    .user__avatar {
        width: 5rem;
    }
}