.showsContainer {
    display: flex;
    flex-direction: column-reverse;
    @media screen and (min-width: 40rem) {
        flex-direction: row;
    }

    > .filters {
        @media screen and (min-width: 40rem) {
            flex-basis: 20%;
            visibility: visible;
        }
    }
    > .results {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 40rem) {
            flex-basis: 80%;
        }
        > .showList {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
